body{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

/* Style the quarter circles */
.simon-btn{
  background-color: #117300;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.active{
  background-color: black !important;
}
#simon-br{
  background-color: blue;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}
#simon-bl{
   background-color: yellow;
   border-radius: 0 0 0 100px;
   -moz-border-radius: 0 0 0 100px;
   -webkit-border-radius: 0 0 0 100px;
}
#simon-tr{
   background-color: red;
   border-radius: 0 100px 0 0;
   -moz-border-radius: 0 100px 0 0;
   -webkit-border-radius: 0 100px 0 0;
}
#simon-tl{
  background-color: green;
   border-radius: 100px 0 0 0;
   -moz-border-radius: 100px 0 0 0;
   -webkit-border-radius: 100px 0 0 0;
}

/* Style the start button */
#start{
  font-family: 'Nunito', sans-serif;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
}
